
@{
    ViewBag.Title = "O nama";
}
<h2>@ViewBag.potrosnja</h2>
<hr />
<p style="font:18px">Mi smo organizacija koja već 20 godina vrši prodaju visokokvalitetnih automobila, renomiranih proizvođača: Opel, VW, Peugeot, Ford, Fiat i mnogih drugih. Nudimo razne opcije plaćanja
    , na 12, 24 rate. Kvalitet je naše drugo ime!</p>
