@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Elektrotehnički fakultet Sarajevo</br>
     Zmaja od Bosne bb<br/>
 Kampus Univerziteta</br>
     71000 Sarajevo
</address>
